n8n-workflows/viajes_farmex_basico.json
{
  "name": "TMS Farmex - Directo a Supabase (Gmail)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://jsplvvgyzkmifgguncpf.supabase.co/rest/v1/solicitudes_viaje?select=*&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_zPBT3hQEhCiWGHiNkX9goA_TfiaJiEu"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_publishable_zPBT3hQEhCiWGHiNkX9goA_TfiaJiEu"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Read Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "tu_correo@gmail.com",
        "toEmail": "destino@gmail.com",
        "subject": "✈️ Nueva Solicitud de Viaje - FARMEX",
        "html": "={{ '<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; border: 1px solid #e2e8f0; border-radius: 8px; overflow: hidden;\"><div style=\"background-color: #2563eb; padding: 20px; text-align: center;\"><h1 style=\"color: white; margin: 0;\">FARMEX TMS</h1><p style=\"color: #bfdbfe; margin: 5px 0 0;\">Nueva Solicitud de Viaje</p></div><div style=\"padding: 20px; background-color: #f8fafc;\"><p style=\"color: #334155; font-size: 16px;\">Tienes una nueva solicitud de viaje pendiente de revisión.</p><table style=\"width: 100%; border-collapse: collapse; margin-top: 15px;\"><tr><td style=\"padding: 10px; border-bottom: 1px solid #e2e8f0; color: #64748b;\"><strong>Destino:</strong></td><td style=\"padding: 10px; border-bottom: 1px solid #e2e8f0; color: #0f172a;\">' + $json.destino + '</td></tr><tr><td style=\"padding: 10px; border-bottom: 1px solid #e2e8f0; color: #64748b;\"><strong>Fechas:</strong></td><td style=\"padding: 10px; border-bottom: 1px solid #e2e8f0; color: #0f172a;\">' + ($json.fecha_salida || 'N/A') + ' - ' + ($json.fecha_retorno || 'N/A') + '</td></tr><tr><td style=\"padding: 10px; border-bottom: 1px solid #e2e8f0; color: #64748b;\"><strong>Motivo:</strong></td><td style=\"padding: 10px; border-bottom: 1px solid #e2e8f0; color: #0f172a;\">' + ($json.motivo || 'N/A') + '</td></tr></table><div style=\"margin-top: 30px; text-align: center;\"><a href=\"https://viajes.farmex.com.pe/admin?action=approve&id=' + $json.id_solicitud + '\" style=\"background-color: #16a34a; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; font-weight: bold; display: inline-block; margin-right: 10px;\">✓ Aprobar</a><a href=\"https://viajes.farmex.com.pe/admin?action=reject&id=' + $json.id_solicitud + '\" style=\"background-color: #dc2626; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; font-weight: bold; display: inline-block;\">✗ Denegar</a></div></div><div style=\"background-color: #e2e8f0; padding: 15px; text-align: center; color: #64748b; font-size: 12px;\"><p style=\"margin: 0;\">© 2026 FARMEX S.A. | Sistema de Gestión de Viajes Corporativos</p></div></div>' }}",
        "options": {}
      },
      "id": "3",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Supabase": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
